* {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
}

h1 {
  color: red;
  text-align: center;
  text-decoration: overline;
  text-transform: uppercase;
  text-shadow: 5px 5px 4px white;
  font-size: 75px;
}

p {
  color: white;
  text-align: justify;
}

/* Please don't not change the Gold color, because the boss wants it */
#first {
  color: goldenrod;
}

.second {
  color: pink;
}

.third {
  text-indent: 50px;
}

body {
  background-color: black;
  /* background-image: url("sea.avif"); */
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 20px;
}

div {
  border: solid blueviolet 10px;

  outline-style: solid;
  outline-color: gold;
  outline-width: 10px;
  outline-offset: 5px;
  display: inline-block;

  font-size: 18px;

  border-radius: 50px;
  height: 225px;
  width: 225px;
  color: aqua;

  margin: 30px;

  padding: 20px;

  background-color: green;
  text-align: justify;
}
